/* src/app/globals.css */
@import 'tailwindcss';

@theme {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  
  --leading-xs: 1rem;
  --leading-sm: 1.25rem;
  --leading-base: 1.5rem;
  --leading-lg: 1.75rem;
  --leading-xl: 1.75rem;
  --leading-2xl: 2rem;

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-900: #1e3a8a;

  --color-secondary-500: #f59e0b;
  --color-secondary-700: #d97706;

  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #f97316;

  --space-18: 4.5rem;
  --space-22: 5.5rem;
}

.dark {
  @theme {
    --color-primary-500: #1d4ed8;
    --color-secondary-500: #d97706;
  }
}